<NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
<NavLink href="modules">Modules</NavLink>
<NavLink href="demos">Demos</NavLink>
<span class="nav-separator">|</span>
<a href="https://cosmologist.learncosmosdb.com/" target="_blank" class="nav-external">
    Cosmologist
</a>
